<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flask</title>
  <link rel="stylesheet" href="/static/styles/bulma.min.css">
  <link rel="stylesheet" href="/static/styles/space.css">
  <link rel="stylesheet" href="/static/styles/main.css">
  <script src="/static/scripts/main.js"></script>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
